* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", cursive;
  background-color: rgb(34, 34, 34);
  color: rgb(238, 238, 238);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 600px;
}

header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 7px solid rgb(238, 238, 238);
  margin-top: 20px;
  height: 400px;
}

h1 {
  align-self: center;
  font-size: 2.5rem;
}

section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 500px;
  gap: 100px;
  /* border: 1px solid; */
}

.again {
  order: -1;
  align-self: flex-start;
  width: 10%;
  padding: 20px;
  font-size: 1rem;
}

.btn {
  font-family: "Press Start 2P", cursive;
}

.number {
  align-self: flex-end;
  border: 1px solid;
  padding: 30px;
  position: absolute;
  right: 50%;
  top: 23%;
  width: 10%;
  text-align: center;
  background-color: rgb(238, 238, 238);
  color: rgb(34, 34, 34);
  font-size: 4rem;
  border-style: none;
}

.left {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 100px 50px;
  gap: 30px;
  margin-top: 150px;
}

#guess {
  border: 3px solid rgb(238, 238, 238);
  background-color: rgb(34, 34, 34);
  color: rgb(238, 238, 238);
  font-size: 4rem;
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

.check {
  justify-self: center;
  vertical-align: middle;
  /* padding: 20px; */
  width: 70%;
  font-size: 1rem;
}

.right {
  margin-top: 100px;
  font-size: 1.2rem;
}

#score {
  margin-top: 75px;
  font-size: 1.3rem;
}

.score {
  width: 13%;
  font-size: 1.3rem;
  font-family: "Press Start 2P", cursive;
  background-color: rgb(34, 34, 34);
  color: rgb(238, 238, 238);
  border-style: none;
}

.highscore {
  margin-top: 15px;
  font-size: 1.3rem;
}
